In [48]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization purposes
import seaborn as sns # for statistical data visualization
%matplotlib inline

In [49]:
walking = pd.read_csv("walking.csv")
stairs = pd.read_csv("stairs.csv")
none = pd.read_csv("none.csv")
walking['Class']='1'
stairs['Class']='0'
none['Class']='0'
walking.head()

,E(X) LP,E(Y) LP,E(Z) LP,E(X) HP,E(Y) HP,E(Z) HP,Var HP X,Var HP Y,Var HP Z,MinMax X,MinMax Y,MinMax Z,Class
0,231.42,1835.23,321.36,122.72,176.02,29.70,59675.49,155460.88,169384.12,1487.07,1781.32,1937.66,1
1,269.81,1971.29,217.03,-30.01,76.04,-118.93,97596.71,279629.84,183232.96,1638.55,2355.38,2107.23,1
2,300.64,2015.71,162.04,44.99,35.81,-30.45,98671.35,307989.68,176997.41,1567.64,2602.05,2098.46,1
3,301.44,2029.37,174.78,-47.32,-39.92,24.64,143335.80,396766.50,180206.46,2064.71,2456.21,1867.86,1
4,255.57,2048.19,130.58,-28.29,-20.26,-55.03,153910.79,242617.24,212587.41,1910.75,2592.94,1856.39,1

In [50]:
# sns.pairplot(none)

In [51]:
# sns.pairplot(walking)

In [52]:
# sns.pairplot(stairs)

In [53]:
walking

,E(X) LP,E(Y) LP,E(Z) LP,E(X) HP,E(Y) HP,E(Z) HP,Var HP X,Var HP Y,Var HP Z,MinMax X,MinMax Y,MinMax Z,Class
0,231.42,1835.23,321.36,122.72,176.02,29.70,59675.49,155460.88,169384.12,1487.07,1781.32,1937.66,1
1,269.81,1971.29,217.03,-30.01,76.04,-118.93,97596.71,279629.84,183232.96,1638.55,2355.38,2107.23,1
2,300.64,2015.71,162.04,44.99,35.81,-30.45,98671.35,307989.68,176997.41,1567.64,2602.05,2098.46,1
3,301.44,2029.37,174.78,-47.32,-39.92,24.64,143335.80,396766.50,180206.46,2064.71,2456.21,1867.86,1
4,255.57,2048.19,130.58,-28.29,-20.26,-55.03,153910.79,242617.24,212587.41,1910.75,2592.94,1856.39,1
5,257.98,2048.41,104.23,45.25,-30.32,-35.36,112400.75,213627.75,184164.91,1495.27,2131.95,1594.11,1
6,304.37,2043.64,24.40,0.17,13.34,17.39,84799.78,393522.10,129202.59,1481.14,3055.78,2194.73,1
7,296.79,2056.53,32.15,-41.96,15.36,57.03,307329.77,620690.87,386070.66,2914.40,3587.02,2708.92,1
8,288.20,2050.27,80.50,0.36,-51.59,50.20,156558.29,559493.34,230502.24,2102.57,3481.86,2621.90,1
9,281.69,2046.65,141.39,-18.36,-21.87,11.95,117853.37,378515.97,159118.80,1941.28,2722.66,2366.62,1
10,251.53,2073.34,76.39,11.97,3.82,-111.07,160076.56,355358.41,86829.63,2260.58,2788.27,1739.87,1
11,282.51,2066.97,68.06,66.61,4.84,-33.76,221582.91,252391.00,244550.11,2296.78,2354.63,2070.72,1
12,279.34,2042.43,109.88,-18.15,-10.54,-27.05,179738.11,217104.36,239279.06,1915.85,2709.94,2061.86,1
13,294.52,2040.75,59.60,-11.66,-79.53,25.79,134251.77,409461.26,235640.02,1923.42,2755.92,2297.15,1
14,313.41,2036.77,79.52,5.48,12.64,92.06,215479.97,490000.23,258855.17,2424.66,2941.32,2338.34,1

In [54]:
stairs

,E(X) LP,E(Y) LP,E(Z) LP,E(X) HP,E(Y) HP,E(Z) HP,Var HP X,Var HP Y,Var HP Z,MinMax X,MinMax Y,MinMax Z,Class
0,474.33,1940.85,141.55,-83.45,-183.99,276.83,201420.95,1207565.93,404913.92,2380.11,8570.11,4765.44,0
1,453.14,1878.30,446.44,-47.29,-7.86,211.30,238655.09,675617.76,476216.50,2118.91,4558.20,2824.52,0
2,476.85,1871.82,555.69,62.88,26.54,90.89,327797.04,1323139.29,491078.87,2632.72,8733.99,3430.05,0
3,489.12,1894.71,529.87,41.62,20.60,-104.06,355748.25,1077817.75,346090.61,2699.88,6037.98,3012.89,0
4,476.01,1971.57,433.20,-127.15,86.64,-192.51,197322.28,1149027.44,237287.90,2678.60,6910.91,2602.93,0
5,444.26,2033.00,217.66,79.37,0.91,-234.96,39186.40,232360.24,2569.69,1088.51,4039.80,1379.40,0

In [55]:
none

,E(X) LP,E(Y) LP,E(Z) LP,E(X) HP,E(Y) HP,E(Z) HP,Var HP X,Var HP Y,Var HP Z,MinMax X,MinMax Y,MinMax Z,Class
0,253.17,2039.69,142.70,87.38,0.80,-11.97,3330.57,376.19,1155.41,265.93,154.55,157.21,0
1,306.40,2048.39,147.53,34.13,-10.98,8.42,281.81,92.85,175.05,60.14,52.56,56.16,0
2,319.17,2051.93,140.21,-13.21,-4.83,-34.92,365.10,62.33,162.77,91.50,46.37,99.79,0

In [56]:
df = pd.concat([walking, stairs, none])
df

,E(X) LP,E(Y) LP,E(Z) LP,E(X) HP,E(Y) HP,E(Z) HP,Var HP X,Var HP Y,Var HP Z,MinMax X,MinMax Y,MinMax Z,Class
0,231.42,1835.23,321.36,122.72,176.02,29.70,59675.49,155460.88,169384.12,1487.07,1781.32,1937.66,1
1,269.81,1971.29,217.03,-30.01,76.04,-118.93,97596.71,279629.84,183232.96,1638.55,2355.38,2107.23,1
2,300.64,2015.71,162.04,44.99,35.81,-30.45,98671.35,307989.68,176997.41,1567.64,2602.05,2098.46,1
3,301.44,2029.37,174.78,-47.32,-39.92,24.64,143335.80,396766.50,180206.46,2064.71,2456.21,1867.86,1
4,255.57,2048.19,130.58,-28.29,-20.26,-55.03,153910.79,242617.24,212587.41,1910.75,2592.94,1856.39,1
5,257.98,2048.41,104.23,45.25,-30.32,-35.36,112400.75,213627.75,184164.91,1495.27,2131.95,1594.11,1
6,304.37,2043.64,24.40,0.17,13.34,17.39,84799.78,393522.10,129202.59,1481.14,3055.78,2194.73,1
7,296.79,2056.53,32.15,-41.96,15.36,57.03,307329.77,620690.87,386070.66,2914.40,3587.02,2708.92,1
8,288.20,2050.27,80.50,0.36,-51.59,50.20,156558.29,559493.34,230502.24,2102.57,3481.86,2621.90,1
9,281.69,2046.65,141.39,-18.36,-21.87,11.95,117853.37,378515.97,159118.80,1941.28,2722.66,2366.62,1
10,251.53,2073.34,76.39,11.97,3.82,-111.07,160076.56,355358.41,86829.63,2260.58,2788.27,1739.87,1
11,282.51,2066.97,68.06,66.61,4.84,-33.76,221582.91,252391.00,244550.11,2296.78,2354.63,2070.72,1
12,279.34,2042.43,109.88,-18.15,-10.54,-27.05,179738.11,217104.36,239279.06,1915.85,2709.94,2061.86,1
13,294.52,2040.75,59.60,-11.66,-79.53,25.79,134251.77,409461.26,235640.02,1923.42,2755.92,2297.15,1
14,313.41,2036.77,79.52,5.48,12.64,92.06,215479.97,490000.23,258855.17,2424.66,2941.32,2338.34,1
0,474.33,1940.85,141.55,-83.45,-183.99,276.83,201420.95,1207565.93,404913.92,2380.11,8570.11,4765.44,0
1,453.14,1878.30,446.44,-47.29,-7.86,211.30,238655.09,675617.76,476216.50,2118.91,4558.20,2824.52,0
2,476.85,1871.82,555.69,62.88,26.54,90.89,327797.04,1323139.29,491078.87,2632.72,8733.99,3430.05,0
3,489.12,1894.71,529.87,41.62,20.60,-104.06,355748.25,1077817.75,346090.61,2699.88,6037.98,3012.89,0
4,476.01,1971.57,433.20,-127.15,86.64,-192.51,197322.28,1149027.44,237287.90,2678.60,6910.91,2602.93,0
5,444.26,2033.00,217.66,79.37,0.91,-234.96,39186.40,232360.24,2569.69,1088.51,4039.80,1379.40,0
0,253.17,2039.69,142.70,87.38,0.80,-11.97,3330.57,376.19,1155.41,265.93,154.55,157.21,0
1,306.40,2048.39,147.53,34.13,-10.98,8.42,281.81,92.85,175.05,60.14,52.56,56.16,0
2,319.17,2051.93,140.21,-13.21,-4.83,-34.92,365.10,62.33,162.77,91.50,46.37,99.79,0

In [57]:
X = df.drop(['Class'], axis=1)
y = df['Class']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
X_train.shape, X_test.shape

((16, 12), (8, 12))

In [58]:
# train a Gaussian Naive Bayes classifier on the training set
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

# instantiate the model
gnb = GaussianNB()

# fit the model
gnb.fit(X_train, y_train)

y_pred = gnb.predict(X_test)

print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score: 1.0000

In [59]:
y_pred_train = gnb.predict(X_train)
print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_train, y_pred_train)))

Training-set accuracy score: 1.0000

In [60]:
print('Training set score: {:.4f}'.format(gnb.score(X_train, y_train)))
print('Test set score: {:.4f}'.format(gnb.score(X_test, y_test)))

Training set score: 1.0000
Test set score: 1.0000

In [61]:
y_test.value_counts()

1    5
0    3
Name: Class, dtype: int64

In [62]:
null_accuracy = (5/(5+3))
print('Null accuracy score: {0:0.4f}'. format(null_accuracy))

Null accuracy score: 0.6250

In [63]:
y_pred_prob = gnb.predict_proba(X_test)
y_pred_prob

array([[1.34354587e-07, 9.99999866e-01],
       [3.10803141e-06, 9.99996892e-01],
       [1.00000000e+00, 1.63540981e-11],
       [3.88851369e-05, 9.99961115e-01],
       [1.00000000e+00, 3.07514760e-15],
       [5.05008661e-05, 9.99949499e-01],
       [1.40277982e-07, 9.99999860e-01],
       [1.00000000e+00, 1.33139740e-11]])

In [64]:
### Compute the probabilities of two tests where walking is class[1] == '1'
walking_test = walking.drop(['Class'], axis=1).tail(1)
stairs_test = stairs.drop(['Class'], axis=1).tail(1)
none_test = none.drop(['Class'], axis=1).tail(1)

In [65]:
from scipy.special import logsumexp
from pprint import pprint
import math

# precomputions
class_0_prior,class_1_prior = gnb.class_prior_[0], gnb.class_prior_[1]
theta_0, theta_1 = gnb.theta_[0, :], gnb.theta_[1, :]
var_0, var_1 = gnb.var_[0, :], gnb.var_[1, :]
jointi_0 = np.log(class_0_prior)
jointi_1 = np.log(class_1_prior)
nij_0_p = -0.5*np.sum(np.log(2.0 * np.pi * var_0)) 
nij_1_p = -0.5*np.sum(np.log(2.0 * np.pi * var_1))

def test(X):
    # Class 0
    n_ij_0 = nij_0_p - 0.5*np.sum(((X - theta_0) ** 2) / (var_0), 1)

    # Class 1
    n_ij_1 = nij_1_p - 0.5 * np.sum(((X - theta_1) ** 2) / (var_1), 1)

    jll = np.array([jointi_0 + n_ij_0, jointi_1 + n_ij_1]).T

    # normalize by P(x) = P(f_1, ..., f_n)
    # log_prob_x = np.log(np.sum(np.exp(jll)))
    # p_walk = math.exp(jll[0][1] - log_prob_x)
    # print(f"P(Walking) = {p_walk:.3f}")

    p_walk = math.exp(jll[0][1]  - np.max(jll))

    if (nij_0_p == np.int0(nij_0_p)):
        print("Approximate Result")
    print(f"P(Walking) = {p_walk:.3f}")


test(walking_test)
test(stairs_test)
test(none_test)

P(Walking) = 1.000
P(Walking) = 0.000
P(Walking) = 0.000

In [66]:
## Isolate Values and approximate 
class_0_prior,class_1_prior = gnb.class_prior_[0], gnb.class_prior_[1]
theta_0, theta_1 = gnb.theta_[0, :], gnb.theta_[1, :]
var_0, var_1 = gnb.var_[0, :], gnb.var_[1, :]
jointi_0 = np.log(class_0_prior)
jointi_1 = np.log(class_1_prior)
nij_0_p = -0.5*np.sum(np.log(2.0 * np.pi * var_0)) 
nij_1_p = -0.5*np.sum(np.log(2.0 * np.pi * var_1))

print(jointi_0, jointi_1) 
print(var_0)
print(var_1)
print(theta_0)
print(theta_1)
print(nij_0_p)
print(nij_0_p)
print("")

-0.9808292530117262 -0.4700036292457356
[7.04143499e+03 3.68465372e+03 2.90935880e+04 6.48956865e+03
 7.16303306e+03 2.77261728e+04 1.30329766e+10 2.04460055e+11
 2.83068038e+10 7.36143325e+05 8.49702196e+06 1.88833053e+06]
[6.89788155e+02 4.14686537e+03 6.56155356e+03 2.58705242e+03
 4.00423779e+03 1.50841579e+03 4.24961526e+09 2.09435286e+10
 4.55906881e+09 1.71966767e+05 2.77258756e+05 1.11230094e+05]
[ 4.37103333e+02  1.93282333e+03  3.74908333e+02 -1.10016667e+01
 -9.54500000e+00  4.50800000e+01  2.20712363e+05  9.05590727e+05
  3.26123868e+05  2.12935833e+03  5.82762333e+03  2.79884000e+03]
[2.79744000e+02 2.02164300e+03 1.28131000e+02 5.94100000e+00
 6.60300000e+00 4.30200000e+00 1.41427350e+05 3.48578869e+05
 2.06751366e+05 1.88806800e+03 2.71217300e+03 2.13085100e+03]
-97.30271722262492
-97.30271722262492

-0.9808292530117262 -0.4700036292457356
[        7041         3684        29093         6489         7163
        27726  13032976629 204460055149  28306803804       736143
      8497021      1888330]
[        689        4146        6561        2587        4004        1508
  4249615259 20943528639  4559068813      171966      277258      111230]
[   437   1932    374    -11     -9     45 220712 905590 326123   2129
   5827   2798]
[   279   2021    128      5      6      4 141427 348578 206751   1888
   2712   2130]
-97
-97

In [75]:
## Approximations
var_0, var_1 = np.int0(var_0), np.int0(var_1)
theta_0, theta_1 = np.int0(theta_0), np.int0(theta_1)
nij_0_p = np.int0(nij_0_p)
nij_1_p = np.int0(nij_1_p)
jointi_0, jointi_1 = 0, 0

print(jointi_0, jointi_1) 
print(var_0)
print(var_1)
print(theta_0)
print(theta_1)
print(nij_0_p)
print(nij_0_p)
print("")

0 0
[        7041         3684        29093         6489         7163
        27726  13032976629 204460055149  28306803804       736143
      8497021      1888330]
[        689        4146        6561        2587        4004        1508
  4249615259 20943528639  4559068813      171966      277258      111230]
[   437   1932    374    -11     -9     45 220712 905590 326123   2129
   5827   2798]
[   279   2021    128      5      6      4 141427 348578 206751   1888
   2712   2130]
-97
-97

## Approximated Math wihtout logarithms 

- For Feature Values $0 \rightarrow n$ = $X_n$ integers
- For Class 0 (other) Variance $V_{0n}$, Theta $\Theta_{0n}$, Baseline $N_0$
- For Class 0 (other) Variance $V_{1n}$, Theta $\Theta_{1n}$, Baseline $N_1$
- With a joint distribution set to 0 each

$ N_{0ij} = N_0 - \frac{1}{2} \sum_n (X_n - \Theta_{0n})^2 / V_{0n}$ 

$ N_{1ij} = N_1 - \frac{1}{2} \sum_n (X_n - \Theta_{1n})^2 / V_{1n}$

$ P_{1L} = N_{1ij} - MAX(N_{0ij}, N_{1ij})$

$ P_1 = exp\{ P_{1L} \}$

In [102]:
def test_A(X):
    # Class 0
    n_ij_0 = np.int0(nij_0_p - 0.5*np.sum(((X - theta_0) ** 2) / (var_0), 1))

    # Class 1
    n_ij_1 = np.int0(nij_1_p - 0.5 * np.sum(((X - theta_1) ** 2) / (var_1), 1))

    p_walk_log = int(n_ij_1  - max(n_ij_1[0], n_ij_0[0]))
    p_walk = math.exp(p_walk_log)

    if (nij_0_p == np.int0(nij_0_p)):
        print("-- Approximate Result")
        
    print(f"P(Walking) = {p_walk:.2f}, P(log) = {p_walk_log:.2f}")

test_A(walking_test)
test_A(stairs_test)
test_A(none_test)

-- Approximate Result
P(Walking) = 1.00, P(log) = 0.00
-- Approximate Result
P(Walking) = 0.00, P(log) = -34.00
-- Approximate Result
P(Walking) = 0.00, P(log) = -25.00

In [105]:
for i in range(-10, 1):
    print(f"{math.exp(i):.3f}")

0.000
0.000
0.000
0.001
0.002
0.007
0.018
0.050
0.135
0.368
1.000

In [151]:
def approx_exp(x, n = 12):
    res = 100
    # print("1 ?+ ")?
    factorial = 1
    for i in range(1, n):
        factorial *= i
        # print(f" X^{i} \ {factorial}")
        print(factorial)
        res += x**i * (100/factorial)
    if res < 0:
        return 0
    return res

for i in range(-10, 1):
    print(f"{approx_exp(i, 12):.3f}")
    print("")

1
2
6
24
120
720
5040
40320
362880
3628800
39916800
0.000

1
2
6
24
120
720
5040
40320
362880
3628800
39916800
0.000

1
2
6
24
120
720
5040
40320
362880
3628800
39916800
0.000

1
2
6
24
120
720
5040
40320
362880
3628800
39916800
0.000

1
2
6
24
120
720
5040
40320
362880
3628800
39916800
0.000

1
2
6
24
120
720
5040
40320
362880
3628800
39916800
0.000

1
2
6
24
120
720
5040
40320
362880
3628800
39916800
0.000

1
2
6
24
120
720
5040
40320
362880
3628800
39916800
4.889

1
2
6
24
120
720
5040
40320
362880
3628800
39916800
13.533

1
2
6
24
120
720
5040
40320
362880
3628800
39916800
36.788

1
2
6
24
120
720
5040
40320
362880
3628800
39916800
100.000